// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
ul {
  display: flex;
}

h1 {
color: grey;
}

h2 {
color: grey;
}

li {

  font-size: 30px;
  font-weight: bold;
  text-align: center;
  list-style-type: none;
  padding: 10px;
  margin: 10px;
  background-color: #3698DB;
  color: white;
  box-shadow: black 3px 3px;
  width: 50px;

}

body{
  background-color:lightgrey;
  margin: 10px;
}
